<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My chat app</title>
</head>

<body>

    <h1>Welcome to the room {{ room }}</h1>

    <div id="message"></div>

    <form>
        <input type="text" placeholder="Enter your message...">
        <button type="submit">send</button>
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script>
    const socket = io.connect("http://127.0.0.1:5000")


    socket.on('connect', function(){
        socket.emit('join_room',{
            username:"{{username}}",
            room:"{{room}}"
        })
    })

    socket.on("join_room_announcement",function(data){
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML =  `<b>${data.username}</b> has join the room `;
        document.getElementById("message").appendChild(newNode);
    })

</script>
</html>